/* General Styles */
.root {
    -fx-font-family: "Arial";
    -fx-background-color: #f0f0f0;
}
.footerLabel {
    -fx-alignment: center;
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-padding: 10;
}


/* TabPane Styles */
.tab-pane {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
}

/* Button Styles */
/*.button {*/
/*    -fx-background-color: #4CAF50;*/
/*    -fx-text-fill: white;*/
/*    -fx-padding: 10px 20px;*/
/*    -fx-font-size: 14px;*/
/*    -fx-border-radius: 5;*/
/*}*/

.button:hover {
    -fx-background-color: #45a049;
}

/* TextField Styles */
/*.text-field, .text-area, .combo-box {*/
/*    -fx-border-color: #cccccc;*/
/*    -fx-border-radius: 5;*/
/*    -fx-padding: 10px;*/
/*}*/

/* TableView Styles */
.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
}

.table-view .column-header {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

/* Pagination Styles */
.pagination {
    -fx-padding: 10;
}


.vbox {
    padding: 15px;
}

/*.text-field {*/
/*    -fx-font-size: 5px;*/
/*    -fx-background-color: lightgray;*/
/*}*/

/*.button {*/
/*    -fx-background-color: #4CAF50;*/
/*    -fx-text-fill: white;*/
/*    -fx-font-size: 14px;*/
/*}*/

.table-view {
    -fx-background-color: #f4f4f4;
}

.combo-box {
    -fx-font-size: 14px;
}
